$color-primary: #2B2A29;
$color-secondary: #9629e6;
$color-white: #ffffff;
$purpel-color: #6730e3;
$black-color: #000000;
$text-color: #6c757d;
$text-color-muted: #707070;
$bkg-color: #F4F7FA;
$icon-blue-color: #007BFF;